# dependencies
/node_modules

# testing
/coverage

# build
/dist

.output
.wxt

# etc
.DS_Store
.env
.env.local
.env.*.local
.idea

#generated manifest
public/manifest.json

dist.pem
dist.crx
dist.zip
**/*.zip
